h1 {
	font-size: 4em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h2 {
	font-family: arial;  
	font-weight: bold;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}

h3 {
	font-size: 3em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}



h4 {
	font-family: arial;
	color: #555555;
	font-weight: lighter;
	text-align: justify;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}

h5 {
	font-family: arial;
	color: #94A899;
	font-weight: lighter;
	text-align: justify;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}

/*formatação da tabela*/

.container {
	position: relative;
	width: 100%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.halfsize {
	-moz-transform:scale(0.8);
	-webkit-transform:scale(0.8);
	transform:scale(0.8);
}

.overlay {
	position: absolute;
	top: 0; 
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #00D1B2;
}

.container:hover .overlay {
	opacity: 1;
}

@media screen and (max-width: 600px) {
  div.title {
    font-size: 3vw;
  }
}

.text {
	color: white;
	font-size: 100%;
	position: absolute; 
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	position: relative;
}

/*fim formatação tabela*/

/*formatação dos links*/

a:link {
  color: #b5b5b5;
}

/* visited link */
a:visited {
  color: #b5b5b5;
}

/* mouse over link */
a:hover {
  color: hsl(0, 0%, 21%);
}

/* selected link */
a:active {
  color: #b5b5b5;
} 

/* selected link */
a:not(.sobre) {
  color: #ffffff;
} 

/*final formatação dos links*/
