h1 {
	font-size: 1em;
	font-weight: 100;
	margin-top: 7vh;
	margin-bottom: 5vh;
}

@media screen and (min-width: 601px) {
  a.title {
	font-size: 4em;
	font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  a.title {
	font-size: 11vw;
	font-weight: 400;
  }
}

h2 { 	
	font-family: arial;
	font-size: 1em;
	font-weight: 100;
	text-align: justify;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}
h3 {
	font-family: arial;
	font-size: 100%;
	font-weight: 100;
	color: #4a4a4a;
	text-align: justify;
	margin-right: 1%;
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}
h4 { 	
	font-family: arial;
	color: #4a4a4a;
	text-align: justify;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}
h5 { 	
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}
	
h6 { 	
	font-family: arial;
	font-size: 80%;
	color: #fff;
	font-weight: lighter;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 1%;
}

div.iconer { color: #fff; font-weight: lighter; text-align: center; font-size: 5vh;}

/*formatação da tabela*/
.container {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #00D1B2;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

/*formatação dos links*/

a:link {
  color: #b5b5b5;
}

/* visited link */
a:visited {
  color: #b5b5b5;
}

/* mouse over link */
a:hover {
  color: hsl(0, 0%, 21%);
}

/* selected link */
a:active {
  color: #b5b5b5;
} 

/* selected link */
a:not(.sobre) {
  color: #ffffff;
} 

a.autor:link {
	text-decoration: none;
	color: #4a4a4a;
	background: transparent;
}
a.autor:visited {
	text-decoration: none;
	color: #4a4a4a;
	background: transparent;
}
a.autor:hover {
	text-decoration: none;
	color: #4a4a4a;
	background: transparent;
}
a.autor:active {
	text-decoration: none;
	color: #4a4a4a;
	background: transparent;
}

/*final formatação dos links*/

/*destaque verde no corpo de texto*/
	
a.dest {color: #4a4a4a; text-decoration: underline; text-decoration-color: hsl(171, 100%, 41%);}
a.dest:link {color: #4a4a4a; font-size: 100%; text-decoration: underline; text-decoration-color: hsl(171, 100%, 41%);}
a.dest:visited {color: #4a4a4a; font-size: 100%; text-decoration: underline; text-decoration-color: hsl(171, 100%, 41%);}
a.dest:hover {color: #fff; background: hsl(171, 100%, 41%); transition: all 1s, text-decoration 1s; display: inline-block; transform-text-decoration: scale(2, 2);}
	
/*destaque verde no corpo de texto*/

p.title {
	font-weight: bold;
	text-align: left;
	margin-top: 3%;
	margin-bottom: 1%;
	font-size: 135%;
}

p.subtitle {
	text-align: left;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 80%;
}

p.body {
	text-align: justify;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
}
	
p.cit { 	
	font-size: 90%;
	font-weight: normal;
	color: #4a4a4a;
	text-align: justify;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 3%;
	margin-bottom: 3%;
}

p.ref { 	
	font-family: arial;
	font-size: 80%;
	color: #4a4a4a;
	text-align: left;
	margin-top: 1%;
	margin-bottom: 1%;
}

span.dest {color: #4a4a4a; text-decoration: underline; text-decoration-color: hsl(171, 100%, 41%);}
	
span.dest:hover {color: #fff; background: hsl(171, 100%, 41%); transition: all 1s, text-decoration 1s;}

@media (max-width: 767px) {                  
   .content-to-hide {
      display: none;
   }
}
